<?xml version="1.0"?>
<log4net>
  <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
    <file value="Logs\Greylist Agent.log"/>
    <appendToFile value="true"/>
    <layout type="log4net.Layout.PatternLayout">
      <header value="Logging Start &#xD;&#xA;"/>
      <footer value="Logging End &#xD;&#xA;"/>
      <conversionPattern value="%date [%thread] %-5level %logger: %message%newline"/>
    </layout>
  </appender>
  
  <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender" >
    <applicationName value="Exchange Greylist Agent" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger: %message%newline" />
    </layout>
  </appender>
  <root>
    <level value="ALL" />
    <!--appender-ref ref="EventLogAppender" / -->
    <appender-ref ref="LogFileAppender" />
  </root>
</log4net>